# Street Sweeping Routes

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('routes.csv')

In [4]:
df.head()

,Route No,Council District,Time Start,Time End,Boundaries
0,* 17P100,2,10:00 AM,12:00 PM,Chandler Bl. to Ventura Fwy / Colfax Av. to La...
1,*17P100,2,10:00 AM,12:00 PM,Chandler Bl. to Ventura Fwy / Colfax Av. to La...
2,10P136 Th,10,8:00 AM,10:00 AM,La Brea Ave to Arlington Ave- Santa Monica Fwy...
3,10P136 W,10,8:00 AM,10:00 AM,La Brea Ave to Arlington Ave -Santa Monica Fwy...
4,10P137 M,10,9:00 AM,11:00 AM,Adams Blvd to Jefferson Blvd - La Cienega Blvd...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Route No          864 non-null    object
 1   Council District  864 non-null    object
 2   Time Start        864 non-null    object
 3   Time End          864 non-null    object
 4   Boundaries        864 non-null    object
dtypes: object(5)
memory usage: 33.9+ KB

In [6]:
df.describe()

,Route No,Council District,Time Start,Time End,Boundaries
count,864,864,864,864,864
unique,864,33,12,15,456
top,17P292 W,8,8:00 AM,10:00 AM,Rinaldi st. to San Fernando Mission bl./Balboa...
freq,1,119,286,242,4

In [10]:
df.columns = [x.lower().replace(' ', '_') for x in df.columns]

In [12]:
df.route_no.value_counts()

17P292 W     1
2P243 Th     1
2P243 W      1
2P236 Tu     1
20P302 M     1
            ..
9P105 M      1
12P225 M     1
8P173 M      1
11P189  M    1
10P148 W     1
Name: route_no, Length: 864, dtype: int64